<div class="row">
  <p><strong><%= t :categories_information, scope: :admin_categories %></strong></p>
  <p><strong><%= t :title, scope: :admin_categories %>:</strong> <%= @category.title %></p>
  <p><strong><%= t :description, scope: :admin_categories %>:</strong> <%= @category.description %></p>
  <p><strong><%= t :content, scope: :admin_categories %>:</strong> <%= @category.content %></p>
</div>
